<div class="flex justify-center  w-full items-center h-screen  bg-green-100">

  <p-card header="Acesse a plataforma de emprego" class="w-full max-w-md h-fit rounded-l-lg rounded-r-none overflow-hidden">
    <form [formGroup]="form" (ngSubmit)="login()" class="flex flex-col gap-4">

      <div>
        <label for="email">Email</label>
        <input id="email" type="email" pInputText formControlName="email" class="w-full" />
      </div>

      <div>
        <label for="password">Senha</label>
        <input id="password" type="password" pPassword formControlName="password" [feedback]="false" class="w-full" />
      </div>

      <p-button label="Entrar" icon="pi pi-sign-in" styleClass="w-full" type="button" (click)="login()"></p-button>

      <div class="flex justify-between text-sm mt-2">
        <a class="cursor-pointer text-primary" (click)="forgotPassword()">Esqueci a senha</a>
        <a class="cursor-pointer text-primary" (click)="register()">Não tenho conta</a>
      </div>

    </form>
  </p-card>
</div>